openapi: 3.0.3
info:
  title: CertiWatch Enterprise B2B API
  version: 1.4.2
  description: >-
    API REST certifiée pour l'intégration ERP (SAP S/4HANA, Coupa, Ivalua, Celonis),
    le contrôle prédictif de validité des certifications fournisseurs, la gestion des webhooks HMAC-SHA256,
    le calcul Scope 3 GHG Protocol et la vérification de chaîne de Merkle.
  contact:
    name: CertiWatch Developer Support
    email: devops@certiwatch.io
    url: https://certiwatch.io/docs
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://api.certiwatch.io/v1
    description: Production Anycast Europe (europe-west2 / europe-west9)
  - url: https://api-sandbox.certiwatch.io/v1
    description: Environnement de Sandbox / Test ERP
security:
  - ApiKeyAuth: []
  - BearerAuth: []
paths:
  /matrix/simulate:
    post:
      summary: Valider un bon de commande ERP (SAP / Coupa)
      tags:
        - Achats & Blocage ERP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - poNumber
                - supplierId
                - productCategory
              properties:
                poNumber:
                  type: string
                  example: PO-2026-SAP-98124
                supplierId:
                  type: string
                  example: sup-1
                productCategory:
                  type: string
                  example: Textiles Biologiques & Coton
                orderAmountEur:
                  type: number
                  example: 142500
                requiredStandards:
                  type: array
                  items:
                    type: string
                  example:
                    - GOTS
                    - OEKO-TEX
      responses:
        '200':
          description: Décision rendue avec succès
  /suppliers:
    get:
      summary: Lister les fournisseurs avec scores de risque
      tags:
        - Fournisseurs & Référentiel
      responses:
        '200':
          description: Liste des fournisseurs
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
