{
  "openapi": "3.0.3",
  "info": {
    "title": "CertiWatch Enterprise B2B API",
    "version": "1.4.2",
    "description": "API REST certifiée pour l'intégration ERP (SAP S/4HANA, Coupa, Ivalua, Celonis), le contrôle prédictif de validité des certifications fournisseurs, la gestion des webhooks HMAC-SHA256, le calcul Scope 3 GHG Protocol et la vérification de chaîne de Merkle.",
    "contact": {
      "name": "CertiWatch Developer Support",
      "email": "devops@certiwatch.io",
      "url": "https://certiwatch.io/docs"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.certiwatch.io/v1",
      "description": "Production Anycast Europe (europe-west2 / europe-west9)"
    },
    {
      "url": "https://api-sandbox.certiwatch.io/v1",
      "description": "Environnement de Sandbox / Test ERP"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/matrix/simulate": {
      "post": {
        "summary": "Valider un bon de commande ERP (SAP / Coupa)",
        "description": "Vérifie la conformité réglementaire et certifiante des lignes d'un bon de commande d'achat. Déclenche un blocage immédiat si un standard obligatoire manque.",
        "tags": ["Achats & Blocage ERP"],
        "operationId": "simulatePurchaseOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["poNumber", "supplierId", "productCategory", "requiredStandards"],
                "properties": {
                  "poNumber": { "type": "string", "example": "PO-2026-SAP-98124" },
                  "supplierId": { "type": "string", "example": "sup-1" },
                  "productCategory": { "type": "string", "example": "Textiles Biologiques & Coton" },
                  "orderAmountEur": { "type": "number", "example": 142500 },
                  "deliveryCountry": { "type": "string", "example": "FR" },
                  "requiredStandards": {
                    "type": "array",
                    "items": { "type": "string" },
                    "example": ["GOTS", "OEKO-TEX"]
                  },
                  "hasExplicitDerogation": { "type": "boolean", "example": false }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Décision de la matrice d'achat rendue avec succès"
          },
          "400": {
            "description": "Paramètres de commande invalides"
          },
          "401": {
            "description": "Clé d'API manquante ou invalide"
          }
        }
      }
    },
    "/suppliers": {
      "get": {
        "summary": "Lister les fournisseurs avec scores de risque",
        "description": "Récupère le répertoire complet des fournisseurs avec scores financiers Altman Z, ratings ESG et statuts.",
        "tags": ["Fournisseurs & Référentiel"],
        "operationId": "listSuppliers",
        "parameters": [
          { "name": "tier", "in": "query", "schema": { "type": "string" }, "required": false },
          { "name": "status", "in": "query", "schema": { "type": "string" }, "required": false }
        ],
        "responses": {
          "200": { "description": "Liste paginée des fournisseurs" }
        }
      }
    },
    "/certificates/{id}/verify": {
      "get": {
        "summary": "Vérifier la validité cryptographique d'un certificat",
        "description": "Interroge le registre officiel et vérifie l'empreinte Merkle SHA-256.",
        "tags": ["Certificats & Validité"],
        "operationId": "verifyCertificate",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Résultat de la vérification officielle" }
        }
      }
    },
    "/webhooks/subscribe": {
      "post": {
        "summary": "Souscrire un webhook ERP sécurisé HMAC-SHA256",
        "tags": ["Webhooks & Intégrations"],
        "operationId": "subscribeWebhook",
        "responses": {
          "201": { "description": "Webhook créé avec succès" }
        }
      }
    },
    "/audit/verify-chain": {
      "get": {
        "summary": "Auditer l'intégrité de la chaîne de Merkle SHA-256",
        "tags": ["Audit & Chaîne Cryptographique"],
        "operationId": "verifyAuditChain",
        "responses": {
          "200": { "description": "Statut de conformité cryptographique de la chaîne" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
